form(action="/users" method="post")
    label(for='name') name
    input(type='text' name='name' id='name' placeholder='Entrez votre nom')
    label(for='username') username
    input(type='text' name='username' id='username' placeholder='Entrez votre nom d\'utilisateur')
    label(for='email') email
    input(type='email' name='email' id='email' placeholder='Entrez votre email')

    input(type='submit' value="send")